<%= simple_form_for @user, html: {class: 'form-horizontal'} do |f| %>
 	<%= f.input :name, label: '店铺名', input_html: {autocomplete: 'off'} %>
 	<%= f.input :phone, label: '手机号', input_html: {autocomplete: 'off', disabled: 'disabled'}  %>
 	<%= f.input :county, label: '区', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :towns, label: '乡镇', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :street, label: '街道', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :house, label: '小区', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :latitude, label: '经度', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :longitude, label: '纬度', input_html: {autocomplete: 'off'}  %>
 	<%= f.input :level, label: '级别', input_html: {autocomplete: 'off'}  %>
  <%= f.input :desc, label: '备注', input_html: {class: 'span6', rows: 5} %>
	
  <div class="form-actions">
    <%= f.button :submit, '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
