<div class="navbar">
  <div class="navbar-inner">
		<form class="navbar-form bs-docs-example form-search">
			<input type="text" name="beginDate" id="beginDate" value="<%= params[:beginDate] %>" dateFormat="yy-mm-dd" > -
			<input type="text" name="endDate" id="endDate" value="<%= params[:endDate] %>" >
			
			<select name="state" style="width: 110px;">
				<option value="">所有状态</option>
				<option value="unaudited" <%= "selected='selected'" if params[:state] == 'unaudited' %>>未审核</option>
				<option value="actived" <%= "selected='selected'" if params[:state] == 'actived' %>>正常</option>
				<option value="freezed" <%= "selected='selected'" if params[:state] == 'freezed' %>>冻结</option>
			</select>
			
	    <input type="text" name="query" class="span2" placeholder="店铺名称" value="<%= params[:query] %>">
	    <button class="btn" type="submit">搜索</button>
		</form>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>手机号</th>
    <th>店铺名</th>
    <th>余额</th>
    <th>验证码</th>
    <th>状态</th>
    <th>级别</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.phone, user  %></td>
    <td><%= user.name %></td>
    <td><%= user.overage %></td>
    <td><%= user.validate_code %></td>
    <td><%= user.state_ %></td>
    <td><%= user.level %></td>
    <td>
			<% if user.unaudited? %>
				<%= link_to '审核通过', active_user_url(user) %> |
			<% elsif user.actived? %>
				<%= link_to '冻结', frost_user_url(user) %> |
			<% elsif user.freezed? %>
				<%= link_to '解冻', active_user_url(user) %> |
			<% end %>
    	<%= link_to '编辑', edit_user_path(user) %> |
    	<%= link_to '删除', user, method: :delete, data: { confirm: '你确定要要删除?' } %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New User', new_user_path %>
