<table class="table table-bordered table-condensed">
	<tr>
		<th width=100>店铺名</th>
		<td><%= @user.name %></td>
		<th width=100>注册电话</th>
		<td><%= @user.phone %></td>
	</tr>
	<tr>
		<th>地址</th>
		<td><%= @user.address %></td>
		<th>坐标</th>
		<td><%= "#{@user.latitude}，#{@user.longitude}" if @user.latitude %></td>
	</tr>
	<tr>
		<th>状态</th>
		<td><%= @user.state_ %></td>
		<th></th>
		<td></td>
	</tr>
	<tr>
		<th>备注</th>
		<td colspan=3><%= @user.desc %></td>
	</tr>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
