<div class="pull-right">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

<table class="table table-bordered table-condensed">
	<tr>
		<th width=100>店铺名</th>
		<td><%= @user.name %></td>
		<th width=100>注册电话</th>
		<td><%= @user.phone %></td>
	</tr>
	<tr>
		<th>地址</th>
		<td><%= @user.address %></td>
		<th>坐标</th>
		<td><%= "#{@user.latitude}，#{@user.longitude}" if @user.latitude %></td>
	</tr>
	<tr>
		<th>状态</th>
		<td><%= @user.state_ %></td>
		<th>余额</th>
		<td><%= @user.overage %></td>
	</tr>
	<tr>
		<th>备注</th>
		<td colspan=3><%= @user.desc %></td>
	</tr>
</table>


<div style="margin-bottom: 18px;" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">订单</a></li>
    <li class=""><a data-toggle="tab" href="#tab2">充值</a></li>
  </ul>
  <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
    <div id="tab1" class="tab-pane active">
			<%= render '/orders/orders_admin', orders: Order.where(user_id: @user), user: @user %>
    </div>
    <div id="tab2" class="tab-pane">
			<%= render 'payment_tab', user: @user %>
    </div>
  </div>
</div>





