<table class="table table-bordered table-condensed">
	<tr>
		<th width=100>店铺名</th>
		<td><%= @user.name %></td>
		<th width=100>注册电话</th>
		<td><%= @user.phone %></td>
	</tr>
	<tr>
		<th>地址</th>
		<td><%= @user.address %></td>
		<th>坐标</th>
		<td><%= "#{@user.latitude}，#{@user.longitude}" if @user.latitude %></td>
	</tr>
	<tr>
		<th>状态</th>
		<td><%= @user.state_ %></td>
		<th>余额</th>
		<td><%= @user.overage %></td>
	</tr>
	<tr>
		<th>备注</th>
		<td colspan=3><%= @user.desc %></td>
	</tr>
</table>

<form method="post" class="simple_form form-horizontal" action="/users/<%= @user.id %>/recharge" accept-charset="UTF-8">
	<div class="control-group string optional user_name">
		<label for="user_name" class="string optional control-label">充值金额</label>
		<div class="controls">
			<input type="text" value="" name="payment[amount]" id="user_name" class="string optional" autocomplete="off">
		</div>
	</div>
	
	<div class="control-group text optional user_desc">
		<label for="user_desc" class="text optional control-label">备注</label>
		<div class="controls"><textarea rows="5" name="payment[desc]" id="user_desc" value="" class="text optional span6"></textarea></div>
	</div>
	
	<div class="control-group text optional user_desc">
		<div class="controls"><input type="submit" class="btn" value="充值"></div>
  </div>
</form>

<%= render 'payments/payment' %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
