<table class="table table-bordered table-condensed">
	<tr>
		<th width=100>店铺名</th>
		<td><%= @user.name %></td>
		<th width=100>注册电话</th>
		<td><%= @user.phone %></td>
	</tr>
	<tr>
		<th>地址</th>
		<td><%= @user.address %></td>
		<th>坐标</th>
		<td><%= "#{@user.latitude}，#{@user.longitude}" if @user.latitude %></td>
	</tr>
	<tr>
		<th>状态</th>
		<td><%= @user.state_ %></td>
		<th>余额</th>
		<td><%= @user.overage %></td>
	</tr>
	<tr>
		<th>备注</th>
		<td colspan=3><%= @user.desc %></td>
	</tr>
</table>


<form class="form-inline" action="/users/<%= @user.id %>/recharge" method="post">
  <input type="text" class="input-small" name="recharge[amount]" placeholder="充值金额">
  <button type="submit" class="btn">充值</button>
</form>
<%= render 'payments/payment' %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
