<%= form_for(@search_history) do |f| %>
  <% if @search_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_history.errors.count, "error") %> prohibited this search_history from being saved:</h2>

      <ul>
      <% @search_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
