<p id="notice"><%= notice %></p>

<p>
  <b>Payer:</b>
  <%= @bill.payer %>
</p>

<p>
  <b>Operator:</b>
  <%= @bill.operator %>
</p>

<p>
  <b>Amount:</b>
  <%= @bill.amount %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
