
<table class="table">
  <tr>
    <th>订单号</th>
    <th>客户</th>
    <th>电话</th>
		<th>状态</th>
		<th>订单金额</th>
		<th>出货金额</th>
		<th>利润</th>
		<th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
		<td><%= link_to order.sn, order %></td>
		<td><%= link_to order.user.name, order.user %></td>
		<td><%= order.user.phone %></td>
		<td><%= order_state order.state %></td>
		<td><%= price_format order.order_sum %></td>
		<td><%= price_format order.ship_sum %></td>
		<td><%= price_format order.profit  %></td>
    <td>
			<%= link_to '', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-trash', title: '删除' unless order.done? %>
		</td>
  </tr>
<% end %>
</table>
