<%= link_to @order.user.name, @order.user %>
<%= @order.created_at.strftime('%Y-%m-%d').to_s %>
<%= @order.sn %>

<div class="row">
	<div class="span8">
		<%#= barcode 'ANUJ', :height => 100, :width => 400, :margin => 100, :xoff => 20, :yoff => 40 %> 
		<%= link_to '打印', 			print_order_orders_path(:"order_id[]" => @order.id), target: "_blank", class: 'btn btn-success'  %>
		<%= link_to '取消', 			cancel_order_path(@order), class: 'btn btn-success' unless @order.done? %>
		<table class="table">
		  <tr>
		    <th>商品编号</th>
		    <th>商品</th>
				<th>单价</th>
		    <th>订购量</th>
				<% unless @order.pending? || @order.confirmed? %>
		    	<th>出货量</th>
					<th></th>
				<% end %>
		    <th>订单金额</th>
				<% unless @order.pending? || @order.confirmed? %>
					<th>交易金额</th>
				<% end %>
				<th></th>
		  </tr>
		<%= render partial: "order_items/order_item", collection: @order.order_items %>
		</table>
		
		<p>
		<ul  class="nav nav-pills pull-right order-total-info">
			<li>订购合计：<span style="color:red"><%= price_format @order.order_sum %></li>
			<% unless @order.pending? || @order.confirmed? %>
				<li>出库合计：<span id="order_ship_sum" style="color:red"><%= price_format @order.ship_sum %></li>
			<% end %>
			<li>成本：<span style="color:red"><%= price_format @order.cost %></li>
			<% if @order.ship_sum > 0 %>
				<li>利润：<span id="order_profit" style="color:red"><%= price_format @order.profit %></li>
			<% end %>
		</ul>
		<br/>
</p>
		<%= render "order_items/form" if !@order.baled? && !@order.done? %>

		<p class="pull-right">
			<%= link_to '提交订单', 	submit_order_path(@order), class: 'btn btn-success' if @order.pending? %>
			<%= link_to '继续购买', 	continue_buy_order_path(@order), class: 'btn btn-success' if @order.confirmed? %>
			<%= link_to '打印订单', 	print_order_order_path(@order), class: 'btn btn-success' if @order.confirmed? %>
			<%= link_to '打印出货单', print_ship_order_path(@order), class: 'btn btn-success' if @order.shiping? %>
			<%= link_to '装车', 			loading_order_path(@order), class: 'btn btn-success' if @order.baled? %>
			<%= link_to '签收', 			sign_order_path(@order), class: 'btn btn-success' if @order.truck? %>
			<%= link_to '完工', 			done_order_path(@order), class: 'btn btn-success' if @order.signed? %>
		</p>
	</div>
	<div class="span4 ships_div" id="ships_div">
	<%= render "ships/index"  %>
	</div>
	
</div>

