<div class="row">
	<div class="span8">
		<%#= barcode 'ANUJ', :height => 100, :width => 400, :margin => 100, :xoff => 20, :yoff => 40 %> 
		<div>
			<%= link_to '打印', print_order_path(@order), class: 'btn btn-info', target: '_blank' %>
			<%= link_to '取消', cancel_order_path(@order), method: :put, class: 'btn btn-warning pull-right' unless @order.done? %>
			
		</div>
		<br />

		
		<table class="table">
		  <tr>
		    <th>商品编号</th>
		    <th>商品</th>
				<th>单价</th>
		    <th>订购量</th>
		    <th>订单金额</th>
				<% unless @order.pending? || @order.confirmed? %>
		    	<th>出货量</th>
					<th>交易金额</th>
				<% end %>
				<th></th>
		  </tr>
		<%= render partial: "order_items/order_item", collection: @order.order_items %>
		</table>
		
		<ul  class="nav nav-pills pull-right order-total-info">
			<li>订购合计：<span style="color:red"><%= price_format @order.order_sum %></li>
			<% unless @order.pending? || @order.confirmed? %>
				<li>出库合计：<span id="order_ship_sum" style="color:red"><%= price_format @order.ship_sum %></li>
			<% end %>
			<li>成本：<span style="color:red"><%= price_format @order.cost %></li>
			<% if @order.ship_sum > 0 %>
				<li>利润：<span id="order_profit" style="color:red"><%= price_format @order.profit %></li>
			<% end %>
		</ul>

		<%= render "order_items/form" if !@order.ship? && !@order.done? %>

		<p class="pull-right">
			<%= link_to '提交', submit_order_path(@order), method: :put, class: 'btn btn-success' if @order.pending? %>
			<%= link_to '出库', ship_order_path(@order), method: :put, class: 'btn btn-primary' if @order.open? %>
			<%= link_to '完工', done_order_path(@order), method: :put, class: 'btn btn-danger' if @order.ship? %>
		</p>
	</div>
	<div class="span4 ships_div" id="ships_div">
	<%= render "ships/index"  %>
	</div>
	
</div>

