<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Jindu:</b>
  <%= @company.jindu %>
</p>

<p>
  <b>Weidu:</b>
  <%= @company.weidu %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
