<table id="ships" class="table">
	<%= render partial: "ships/ship", collection: @order.ships %>
</table>
<% unless @order.pending? || @order.confirmed? %>
	<%= simple_form_for @order.ships.new, remote: true, html: {class: 'form-horizontal'} do |f| %>
		<%= f.hidden_field :order_id %>
		<%= f.input :sn, label: '串码', input_html: {class: 'required span2'} %>
	<% end %>
	
	<%= simple_form_for @order.ships.new, remote: true, html: {class: 'form-horizontal'} do |f| %>
		<%= f.hidden_field :order_id %>
		<input type="number" step="1" name="product_id" id="product_id" class="numeric integer optional required span1" placeholder="商品ID">
		<!-- <input type="number" value="" step="any" name="product_sn" id="product_sn" class="numeric float optional required span1" placeholder="商品编号"> -->
		<input type="number" value="" step="any" name="amount" id="amount" class="numeric float optional required span1" placeholder="重量">
		<input type="submit" value="提交" class="btn btn-success">
	<% end %>
	
<% end %>