<tr class="<%= "error" unless ship.order_item.present? %> " id="ship_<%= ship.id %>">
  <td><%= ship.sn %></td>
  <td><%= link_to ship.product.name, ship.product %></td>
  <td><%= ship.amount %></td>
  <td><%= link_to '', ship, method: :delete, remote: true, class: 'icon-trash', title: '删除' %></td>
</tr>