<tr class="<%= "error" unless ship.order_item.present? %> " id="ship_<%= ship.id %>">
  <td><%= ship.sn %></td>
  <td><%= link_to ship.product.product_name, ship.product %></td>
  <td><%= "#{price_format ship.amount} #{ship.order_item.product.unit}" if ship.order_item %></td>
  <td><%= link_to '', ship, method: :delete, remote: true, class: 'icon-trash', title: '删除' unless ship.order.done? %></td>
</tr>