<% 
unless @order.pending? || @order.confirmed?
	if (a = order_item.ship_amount - order_item.order_amount) > order_item.product.float_amount
		tr_class = 'error'
	elsif (b = order_item.order_amount - order_item.ship_amount) > order_item.product.float_amount
		tr_class = 'info'
	end
end
%>

<tr id="order_item_<%= order_item.id %>" class="<%= tr_class %>">
	<td><%= order_item.product.id %></td>
	<td>
		<%#= "2#{order_item.product.id.to_s.rjust(6, '0')}#{order_item.order_amount.to_s.rjust(3, '0')}#{rand(99).to_s.rjust(2, '0')}0" %>
		<%= link_to order_item.product.product_name, order_item.product %>
	</td>
	<td><%= order_item.order_amount>=1 ? order_item.order_amount.to_i : order_item.order_amount %> <%= order_item.product.unit %></td>
	<% unless @order.pending? || @order.confirmed? %>
	<td class="ship_amount"><%= price_format order_item.ship_amount %></td>
	<td>
		<% if tr_class == "error" %>
			<div style="color:red;"><%= "多#{price_format a}斤" %></div>
		<% elsif tr_class == "info" %>
			<div style="color:blue;"><%= "差#{price_format b}斤" %></div>
		<% end %>
	</td>
	<% end %>
	<td><%= price_format order_item.price %> <%= "元/#{order_item.product.unit}" %></td>
	<td><%= price_format order_item.cost %></td>
	<td><%= price_format order_item.order_sum %></td>
	<% unless @order.pending? || @order.confirmed? %>
	<td class="ship_sum">
		<%= price_format order_item.ship_sum if order_item.ship_sum > 0 %>
		<%#= price_format order_item.cost_sum if order_item.cost_sum > 0 %>
	</td>
	<td><%= price_format(order_item.ship_sum - order_item.cost_sum) %></td>
	<% end %>
	
  <td>
		<%= link_to '', order_item, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'icon-trash', title: '删除' unless order_item.order.done? %>
	</td>
</tr>
