<tr id="order_item_user_<%= order_item_user.id %>">
	<td><%= order_item_user.product.product_name %></td>
	<td><%= price_format order_item_user.price %> <%= "元/#{order_item_user.product.unit}" %></td>
	<td id="order_item_amount_<%= order_item_user.id %>">
		<%= render '/order_items/amount', :order_item_user => order_item_user, :as => :order_item_user  %>
	</td>
	<% unless @order.pending? || @order.confirmed? %>
	<td class="ship_amount"><%= price_format order_item_user.ship_amount %></td>
	<% end %>
	
	<td id="order_item_sum_<%= order_item_user.id %>"><%= price_format order_item_user.order_sum %></td>
	
	<% unless @order.pending? || @order.confirmed? %>
	<td class="ship_sum">
		<%= price_format order_item_user.ship_sum if order_item_user.ship_sum > 0 %>
	</td>
	<% end %>
	
  <td><%= link_to '', order_item_user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-trash', title: '删除' if order_item_user.order.pending? %></td>
</tr>


