<div class="row">
<div class="span6">
<%= simple_form_for @product, html: {class: 'form-horizontal', :multipart => true} do |f| %>
		<%= f.hidden_field :type %>
	<% if @product.id %>
		<%= f.input :name, label: '商品名称', input_html: {disabled: "disabled"} %>
	<% else %>
		<%= f.input :name, label: '商品名称' %>
	<% end %>
	<%= f.input :aliases, label: '别名', input_html: {class: 'required'} %>

	<%= f.input :classify, label: '蔬菜分类', :collection => Vegetable::CLASSIFY, :label_method => :last, :value_method => :first, :prompt => false %>
	<%= f.input :market_area, label: '市场区域', :collection => Product::MARKET_AREA, :label_method => :last, :value_method => :first, :prompt => false %>
	
	<%= f.input :save_time, label: '保存时间', input_html: {class: 'required'} %>
	<%= f.input :series, label: '涨价次序', input_html: {class: 'required'} %>
	<%= f.input :unit, label: '单位', input_html: {class: 'required'} %>
	<%= f.input :optional_amounts, label: '可选重量类别', :collection => 1..3, :prompt => false %>
	<%= f.input :amounts, label: '自定义重量' do %>
		<%= text_field_tag "amounts", "#{@product.amounts.join(', ') if @product.amounts}", input_html: {autocomplete: 'off'} %>
	<% end %>
	<%= f.input :experience, label: '采购要点', input_html: {class: 'required'} %>
	<%= f.input :des, label: '备注', input_html: {class: 'required'} %>
	
	<div class="form-actions">
    <%= f.submit '保存', class: 'btn btn-primary' %>
	</div>
<% end %>
</div>

<div class="span6">
	<% if @product.id %>
		<%= simple_form_for @product, url: upload_file_product_path(@product), html: {class: 'form-horizontal', :multipart => true} do |f| %>
			<% @product.attachments.each do |attachment| %>
				<div><%= image_tag attachment.source.url %><br />
					<%= link_to "删除", delete_attachment_product_path(@product, attachment_id: attachment), method: 'delete' %>
					<br /></div>
			<% end %>
			<div><%= file_field_tag :attachment %></div>
			<div class="form-actions">
		    <%= f.submit '保存', class: 'btn btn-primary' %>
			</div>
		<% end %>
	<% end %>
</div>