<%= simple_form_for @product, html: {class: 'form-horizontal'} do |f| %>
	<%= f.input :name, label: '商品名称', input_html: {class: 'required'} %>
	<%= f.input :series, label: '涨价次序', input_html: {class: 'required'} %>
	<%= f.input :des, label: '备注', input_html: {class: 'required'} %>
	<div class="form-actions">
    <%= f.submit '保存', class: 'btn btn-primary' %>
	</div>
<% end %>
