<table>
<% @products.each do |product| %>
	<% price = product.sales_price(current_user.level) %>
	<% if price %>
  <tr id="product_<%= product.id %>" class="<%= 'product_is_bye' if (order_amount = order_amount(@order, product)) > 0 %>">
    <td><%= link_to product.name, product_path(product) %></td>
		<td><%= price_format price %></td>
		<td><%= select_tag 'amount', options_for_select(Product::AMOUNTS, :selected => order_amount), id: product.id, class: 'order_item_amount' %></td>
		<td><%= product.series %></td>
    <!-- <td><%#= price_format product.last_purchase_low_price %></td>
    
    <td><%#= price_format product.last_purchase_heigh_price %></td>
    <td><%#= price_format product.last_selling_price %></td>
    <td><%#= price_format product.rofit %></td>
    <td>
			
    	<%#= link_to 'Edit', edit_product_path(product) %>
		</td> -->
  </tr>
	<% end %>
<% end %>
</table>

<br />

<h1><%= @products.size %></h1>

<%#= will_paginate @products %>
