<div class="row">
	<div class="span12">
<% if current_user.freezed? %>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    账号已冻结，暂时不能下订单，请电话联系管理员：158-1084-5422
</div>
<% end %>

<table width="100%" class="table products" style="margin-bottom:300px;">
		<tr>
		<% last_shengmu = "" %>
		<% @predicts.each do |predict| %>
			
		
		  <tr a="<%= predict.id %>" id="product_<%= predict.product.id %>" class="<%= 'product_is_bye' if predict.order_amount > 0 %>">
				<% if params[:order]=='pinyin' %>
				<td class="shengmu" width="10">
					<% shengmu = predict.product.pinyin[0] %>
					<% if shengmu!=last_shengmu %>
						<%= last_shengmu = shengmu %>
					<% end %>
				</td>
				<% end %>
		    <td>
					<img src="<%= predict.product.attachments.empty? ? '/assets/missing.jpg' : predict.product.attachments.first.source.url(:thumb) %>" class="product_img <%= 'hide' unless current_user.show_product_img %>" style="width:100px; height:75px;">
					<div class="product_name"><%= predict.product.product_name %></div>
					</td>
				<td>
					<%= price_format(predict.product.sales_price(current_user.level)) if current_user %><span class="unit">￥/<%= predict.product.unit %></span>
				</td>
				<td>
					<% unless current_user.freezed? %>
					
					<div class="btn-group">
            <button id="buy_button_<%= predict.product_id %>" data-toggle="dropdown" class="btn btn-success dropdown-toggle buy_btn <%= "hide" if @last_order.try(:confirmed?) && predict.order_amount == 0 %> " <%= "disabled='disabled'" if @last_order.try(:confirmed?) %> >
							<% if 0 < predict.order_amount && predict.order_amount < 1 %>
								<%= "#{predict.order_amount} #{predict.product.unit}" %>
							<% elsif 1 <= predict.order_amount %>
								<%= "#{predict.order_amount.to_i} #{predict.product.unit}" %>
							<% else %>
								购买
							<% end %>
						</button>
            <ul class="dropdown-menu amounts_ul" style="margin-left: -1px;" product_id="<%= predict.product_id %>">
              <li amount="0">
								<a href="javascript:void(0);">取消</a>
							</li>
              <li class="divider"></li>
							<% predict.product.get_amounts.each do |amount| %>
							  <li amount="<%= amount %>" class="<%= 'active' if amount==predict.order_amount %>">
									<a href="javascript:void(0);" ><%= amount %> 斤</a>
								</li>
							<% end %>
            </ul>
          </div>
					
					<% end %>
				</td>
		  </tr>
	<% end %>
</table>

<div id="order_oprate" style=" <%= 'visibility:"hidden"' if current_user.freezed? %> ">
	<table>
			<tr>
				<td>
					<a href="/orders/<%= @last_order.try(:id) %>" class="btn btn-info hide" style="width:28px; <%= "display:'none';" if !@last_order.try(:pending?) && !@last_order.try(:confirmed?) %>" id="order_show">查看订单</a>
				</td>
			</tr>

			<tr>
				<td>
					<a href="/orders/<%= @last_order.try(:id) %>/submit" class="btn btn-danger " style="width:28px; margin:10px 0; <%= "display:none;" if !@last_order.try(:pending?) %>" data-remote="true" id="order_submit">确认订单</a>
					<a href="/orders/<%= @last_order.try(:id) %>/continue_buy" class="btn btn-success" style="width:28px; margin:10px 0; <%= "display:none;" if !@last_order.try(:confirmed?) %>" data-remote="true" id="order_edit" >修改订单</a>
					<a href="/orders/auto_make_order" class="btn btn-primary" style="width:28px; margin:10px 0; <%= "display:none;" if @last_order.try(:pending?) || @last_order.try(:confirmed?) || current_user.orders.where(state: 'done').empty? %>" id="order_auto">自动下单</a>
				</td>
			</tr>

			<tr>
				<td>
					<a href="/orders/<%= @last_order.try(:id) %>/cancel?return=products" class="btn btn-warning hide" style="width:28px; <%= "display:'none';" if !@last_order.try(:pending?) && !@last_order.try(:confirmed?) %>" data-confirm="确定要取消？" id="order_cancle">取消订单</a>
				</td>
			</tr>
	</table>
</div>


	</div>
</div>