<div class="btn-group pull-right" >
	<a href="/products/sortable" class="btn">分类排序</a>
	<a href="/products/sortable_market" class="btn">市场区域分</a>
	<a href="/products/export" class="btn">导出</a>
</div>

<form action="/products" class="bs-docs-example form-inline">
	<select name="state[]" style="width:55px;" multiple="multiple" size=3>
			<option value="up" <%= "selected='selected'" if @states.include? 'up' %>>上架</option>
			<option value="down" <%= "selected='selected'" if @states.include? 'down' %>>下架</option>
			<option value="file" <%= "selected='selected'" if @states.include? 'file' %>>归档</option>
	</select>
	<select name="optional_amounts" style="width:150px;" class="price_input">
			<option value="" >请选择AMOUNTS</option>
			<option value="1" <%= "selected" if params[:optional_amounts] == "1" %>>AMOUNTS1</option>
			<option value="2" <%= "selected" if params[:optional_amounts] == "2" %>>AMOUNTS2</option>
			<option value="3" <%= "selected" if params[:optional_amounts] == "3" %>>AMOUNTS3</option>
	</select>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:edit_price] %>  name="edit_price"> 编辑价格
  </label>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:show_img] %>  name="show_img"> 图片
  </label>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:show_price] %>  name="show_price"> 卖价
  </label>
	<input type="submit" value="查询" class='btn'>
	</form>
<table width="100%" class="table">
	<% Product::MARKET_AREA.each do |key, val| %>
		<tr>
			<td colspan="4" style="padding-top:30px;"><%= val %></td>
		<% list = @products.where(market_area: key).order(:pinyin) %>
		<% list.each do |product| %>
		  <tr id="product_<%= product.id %>" class="<%= 'info' if product.down? %> <%= 'error' if product.file? %>  <%#= 'product_is_bye' if (order_amount = order_amount(@order, product)) > 0 %>">
		    <td>
					<%= image_tag product.attachments.first.source.url(:thumb) if(params[:show_img] && !product.attachments.empty?) %>
					<%#= product.sn %> 
					<a href="/products/<%= product.id %>"><%= product.product_name %></a>
					<%= link_to sanitize('<i class="icon-edit"></i>'), edit_product_path(product), target: '_blank' %>
					<% if params[:optional_amounts].present? %>
					<form action="/products/<%= product.id %>/update_product" class="bs-docs-example form-inline" data-remote="true" method="put" >
						<select name="product[optional_amounts]" style="width:120px;" class="price_input">
								<option value="1" <%= "selected" if product.optional_amounts == 1 %>>AMOUNTS1</option>
								<option value="2" <%= "selected" if product.optional_amounts == 2 %>>AMOUNTS2</option>
								<option value="3" <%= "selected" if product.optional_amounts == 3 %>>AMOUNTS3</option>
						</select>
					</form>
					<% end %>
					</td>
					<td>

					<form novalidate="novalidate" method="post" style="margin:0;" data-remote="true" class="today simple_form form-horizontal pull-left <%= params[:edit_price] ? 'show' : 'hide' %>" action="/prices" accept-charset="UTF-8">
					    <input type="hidden" value="<%= product.id %>" name="price[product_id]" >
					    <input type="hidden" value="<%= Date.today %>" name="price[date]" >
					    <input type="number" name="price[actual_cost]" placeholder="今天" style="width:45px;" class="price_input numeric float optional pull-left" value="<%= Price.where(product_id: product, date: Date.today).first.try(:actual_cost) if params[:edit_price] %>" on>
					</form>
					
					
				</td>
				<td>
					<% if params[:show_price] %>
					<%= price_format(product.sales_price(current_user.level)) if current_user %><span class="unit">￥/<%= product.unit %></span>
					<% end %>
				</td>
				<td>
					<form action="/products/<%= product.id %>/update_product" class="bs-docs-example form-inline pull-left" data-remote="true" method="put" >
						<select name="product[type]" style="width:65px;" class="price_input">
								<option value="Vegetable" <%= "selected" if product.type == 'Vegetable' %>>蔬菜</option>
								<option value="Fruit" <%= "selected" if product.type == 'Fruit' %>>水果</option>
								<option value="Meat" <%= "selected" if product.type == 'Meat' %>>肉</option>
						</select>
					</form>
					
					<div class="btn-group options" >
						<a data-remote="true" id="bt_up_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.up? %>" href="/products/<%= product.id %>/to_up">上架</a>
						<a data-remote="true" id="bt_down_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.down? %>" href="/products/<%= product.id %>/to_down">下架</a>
						<a data-remote="true" id="bt_file_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.file? %>" href="/products/<%= product.id %>/to_file">归档</a>
					</div>
				</td>
		  </tr>
		<% end %>
		
	<% end %>
</table>
<%#= will_paginate @products %>


<script type="text/javascript">
	$(function(){
		
		// $("#before_yestorday").change(function(){
		// 	if ($("#before_yestorday").is(":checked")) { 
		// 		$(".before_yestorday").show();
		// 	}else{
		// 		$(".before_yestorday").hide();
		// 	}
		// });
		// 
		// $("#yestorday").change(function(){
		// 	if ($(this).is(":checked")) { 
		// 		$(".yestorday").show();
		// 	}else{
		// 		$(".yestorday").hide();
		// 	}
		// });
		// 
		// $("#today").change(function(){
		// 	if ($(this).is(":checked")) { 
		// 		$(".today").show();
		// 	}else{
		// 		$(".today").hide();
		// 	}
		// });
		// 
		// $(".search_form").change(function(){
		// 	$(this).closest('form').submit();
		// });
		
		
	})
	
	
</script>