<div class="pull-right">
	<div class="btn-group pull-right">
		<a href="/products/sortable" class="btn">新客户采购单</a>
		<a href="/products/sortable?show_price=true" class="btn">新客户价格表</a>
	</div>
	<div style="clear:both; height:5px;"></div>

	<div class="btn-group pull-right" >
		<a href="/products/sortable_market" class="btn">采购表(全部)</a>
		<a href="/products/sortable_market?order_times=true" class="btn">采购表(全部,订购频率排序)</a>
		<a href="/products/sortable_market?only_buy=true" class="btn">采购表(仅需采购)</a>
		<a href="/products/inventory" class="btn">库存</a>
	</div>
	<div style="clear:both; height:5px;"></div>

	<div class="btn-group pull-right">
			<a href="/products/new" class="btn">添加商品</a>
		<!-- 	<a href="/products/sortable_print" class="btn">条码表</a>
			<a href="/products/sortable_series" class="btn">涨价次序</a>
						 -->
			<a href="/products/export" class="btn">导出到条码称</a>
	</div>
	<div style="clear:both; height:5px;"></div>
</div>

<form action="/products/list" class="bs-docs-example form-inline">
	<div>
		<label class="checkbox search_form" name="state[]">
	    <input type="checkbox"  value="up" <%= "checked='checked'" if @states.include? 'up' %>  name="state[]"> 上架
	  </label>
		<label class="checkbox search_form" name="state[]">
	    <input type="checkbox"  value="down" <%= "checked='checked'" if @states.include? 'down' %>  name="state[]"> 下架
	  </label>
		<label class="checkbox search_form">
	    <input type="checkbox"  value="file" <%= "checked='checked'" if @states.include? 'file' %>  name="state[]"> 归档
	  </label>
	</div>
	
	<!-- <select name="optional_amounts" style="width:150px;" class="price_input">
			<option value="" >请选择AMOUNTS</option>
			<option value="1" <%= "selected" if params[:optional_amounts] == "1" %>>AMOUNTS1</option>
			<option value="2" <%= "selected" if params[:optional_amounts] == "2" %>>AMOUNTS2</option>
			<option value="3" <%= "selected" if params[:optional_amounts] == "3" %>>AMOUNTS3</option>
	</select> -->
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:edit_price] %>  name="edit_price"> 进价
  </label>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:show_price] %>  name="show_price"> 卖价
  </label>
	<label class="checkbox search_form">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:edit_type] %>  name="edit_type"> 类型
  </label>
	<label class="checkbox search_form">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:need_stock] %>  name="need_stock"> 备货
  </label>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:show_img] %>  name="show_img"> 图片
  </label>
	<label class="checkbox search_form" name="state[]">
    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:show_experience] %>  name="show_experience"> 采购要点
  </label>
	
	<div>
		<label class="checkbox search_form">
	    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:order_count] %>  name="order_count"> 订购统计
	  </label>
		<label class="checkbox search_form">
	    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:order_times] %>  name="order_times"> 按订购统计排序
	  </label>
		<label class="checkbox search_form">
	    <input type="checkbox"  value="true" <%= "checked='checked'" if params[:reset_order_times] %>  name="reset_order_times"> 重新计算订购统计
	  </label>
	</div>
	
	<input type="submit" value="查询" class='btn'>
	</form>
<table width="100%" class="table products">
	<% tabindex = 0 %>
	<% Product::MARKET_AREA.each do |key, val| %>
	<% tabindex = tabindex+1 %>
	
		<tr>
			<td colspan="4" style="padding-top:30px;"><%= val %></td>
		<% list = @products.where(market_area: key) %>
		<% list = params[:order_times].present? ? list.order("order_times desc") : list.order(:pinyin) %>
		
		<% list.each_with_index do |product, index| %>
		  <tr id="product_<%= product.id %>" class="<%= 'info' if product.down? %> <%= 'error' if product.file? %>  <%#= 'product_is_bye' if (order_amount = order_amount(@order, product)) > 0 %>">
		    <td>
					<span style="width:10px; display:inline-block;"><%= product.pinyin.at(0) if product.pinyin %></span>
					
					<%= image_tag product.attachments.first.source.url(:thumb) if(params[:show_img] && !product.attachments.empty?) %>
					<%#= product.sn %> 
					<a href="/products/<%= product.id %>"><%= product.product_name %></a>
					

					
					<%= link_to sanitize('<i class="icon-edit"></i>'), edit_product_path(product), target: '_blank' %>
					<% if params[:optional_amounts].present? %>
					<form action="/products/<%= product.id %>/update_product" class="bs-docs-example form-inline" data-remote="true" method="put" >
						<select name="product[optional_amounts]" style="width:120px;" class="price_input">
								<option value="1" <%= "selected" if product.optional_amounts == 1 %>>AMOUNTS1</option>
								<option value="2" <%= "selected" if product.optional_amounts == 2 %>>AMOUNTS2</option>
								<option value="3" <%= "selected" if product.optional_amounts == 3 %>>AMOUNTS3</option>
						</select>
					</form>
					<% end %>
					
					<% if params[:need_stock].present? %>
					<form action="/products/<%= product.id %>" method="put" data-remote="true" style="float:right;">
						<label class="checkbox search_form">
						<input type="checkbox" value="1" name="product[need_stock]" class="boolean optional required need_stock" <%= "checked='checked'" if product.need_stock %>> 需要备货
					  </label>
					</form>
					<% end %>
					
					
					
					</td>
					<td>
						
					<% if params[:edit_price].present? || params[:show_price].present? %>
						<% prices = Price.where(product_id: product).limit(4).order("id desc") %>
						<% prices.reverse.each do |price| %>
							<div><%= price.actual_cost %></div>
						<% end %>
					<% end %>

					<form novalidate="novalidate" method="post" style="margin:0;" data-remote="true" class="today simple_form form-horizontal pull-left <%= params[:edit_price] ? 'show' : 'hide' %>" action="/prices" accept-charset="UTF-8">
					    <input type="hidden" value="<%= product.id %>" name="price[product_id]" >
					    <input type="hidden" class="price_date" value="<%= Date.today %>" name="price[date]" >
					    <input type="text" autocomplete="off" name="price[actual_cost]" tabIndex="<%= (tabindex * 100) + index + 1 %>" placeholder="今天" style="width:45px;" class="price_input numeric float optional pull-left" value="<%= Price.where(product_id: product, date: Date.today).first.try(:actual_cost) if params[:edit_price] %>" on>
					</form>
					
					
				</td>
				<td id="product_<%= product.id %>_price">
					<% if params[:show_price] %>
					
					
					
						<!-- <div class="btn-group btn-group-vertical">
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price_cq?price_name=price_1&function=plus" data-remote="true" ><i class="icon-chevron-up"></i></a>
							<a class="btn price_text price_cq" href="javascript:void(0)">
								<%= price_format(product.price_cq) %>
							</a>
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price_cq?price_name=price_1&function=minus" data-remote="true" ><i class="icon-chevron-down"></i></a>
            </div> -->
						
						均价 <%= product.cost %>
						
						<!-- <div class="btn-group btn-group-vertical">
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_1&function=plus" data-remote="true" ><i class="icon-chevron-up"></i></a>
							<a class="btn price_text price_1" href="javascript:void(0)">
								<%= price_format(product.price_1) %>
							</a>
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_1&function=minus" data-remote="true" ><i class="icon-chevron-down"></i></a>
            </div> -->
						
						<div class="btn-group btn-group-vertical">
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_2&function=plus" data-remote="true" ><i class="icon-chevron-up"></i></a>
							<a class="btn price_text price_2" href="javascript:void(0)">
								<%= price_format(product.price_2) if current_user %> <%#= "元/#{product.unit ? product.unit : '斤'}" %>
							</a>
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_2&function=minus" data-remote="true" ><i class="icon-chevron-down"></i></a>
            </div>
						
						
						<!-- <div class="btn-group btn-group-vertical">
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_3&function=plus" data-remote="true" ><i class="icon-chevron-up"></i></a>
							<a class="btn price_text price_3" href="javascript:void(0)">
								<%= price_format(product.price_3) if current_user %>
							</a>
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_price?price_name=price_3&function=minus" data-remote="true" ><i class="icon-chevron-down"></i></a>
            </div> -->
						
						<!-- <span class="unit">元/<%= product.unit ? product.unit : '斤' %></span> -->
						<% zhangjia = product.price_2 - product.cost %>
						<span style="<%= 'color:red;' if zhangjia <= 0 %>">平均<%= price_format zhangjia %></span>
						
						
						<% unless product.prices.empty? %>
						<% zhangjia = product.price_2 - product.prices.last.actual_cost  %>
						<span style="<%= 'color:red;' if zhangjia <= 0 %>">今日<%= price_format zhangjia %></span>
						<% end %>
						
						<!-- <div class="btn-group btn-group-vertical">
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_all_price?function=plus" data-remote="true" ><i class="icon-chevron-up"></i></a>
							<a class="btn price_text" href="javascript:void(0)">
								<% zhangjia = product.price_1 - product.cost %>
								最低涨价：<span style="<%= 'color:red;' if zhangjia <= 0 %>"><%= price_format zhangjia %></span>
							</a>
							<a class="btn btn-mini" href="/products/<%= product.id %>/change_all_price?function=minus" data-remote="true" ><i class="icon-chevron-down"></i></a>
            </div> -->
						
						<!-- <% a = product.price_2-product.price_cq %>
						<% if a <-0.01 || a>0.01 %>
							<% if a>0.01 %>
								<span style="color:red;">还需加<%= price_format a.abs %></span>
							<% elsif a<-0.01 %>
								<span style="color:blue;">还需减<%= price_format a.abs %></span>
							<% end %>
						<% end %> -->
					<% end %>
					
					<%= product.experience if params[:show_experience].present? %>
				</td>

				<% if params[:order_count] %>
				<td>
					
					<div class="btn-group">
						<% [(Date.today-6.days), (Date.today-5.days), (Date.today-4.days), (Date.today-3.days), (Date.today-2.days), (Date.today-1.days), Date.today].each do |da| %>
							<% order_count = OrderCount.where(product_id: product).where(date: da).first %>
							<button class="btn" style="width:50px;">
							<% if order_count %>
								<%= order_count.amount>=1 ? order_count.amount.to_i : order_count.amount %>
							<% else %>
								0
							<% end %>
							</button>
						<% end %>
					</div>
				</td>
				<% end %>
				
				<td>
					<% if params[:edit_type].present? %>
					<form action="/products/<%= product.id %>/update_product" class="bs-docs-example form-inline pull-left" data-remote="true" method="put" >
						<select name="product[type]" style="width:65px;" class="price_input">
								<option value="Vegetable" <%= "selected" if product.type == 'Vegetable' %>>蔬菜</option>
								<option value="Fruit" <%= "selected" if product.type == 'Fruit' %>>水果</option>
								<option value="Meat" <%= "selected" if product.type == 'Meat' %>>肉</option>
						</select>
					</form>
					<% end %>
					
					<div class="btn-group options" >
						<a data-remote="true" id="bt_up_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.up? %>" href="/products/<%= product.id %>/to_up">上架</a>
						<a data-remote="true" id="bt_down_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.down? %>" href="/products/<%= product.id %>/to_down">下架</a>
						<a data-remote="true" id="bt_file_<%= product.id %>" class="btn btn-small <%= 'disabled' if product.file? %>" href="/products/<%= product.id %>/to_file">归档</a>
					</div>
				</td>
					
		  </tr>
		<% end %>
		
	<% end %>
</table>
<%#= will_paginate @products %>


<script type="text/javascript">
	$(function(){
		
		// $("#before_yestorday").change(function(){
		// 	if ($("#before_yestorday").is(":checked")) { 
		// 		$(".before_yestorday").show();
		// 	}else{
		// 		$(".before_yestorday").hide();
		// 	}
		// });
		// 
		// $("#yestorday").change(function(){
		// 	if ($(this).is(":checked")) { 
		// 		$(".yestorday").show();
		// 	}else{
		// 		$(".yestorday").hide();
		// 	}
		// });
		// 
		// $("#today").change(function(){
		// 	if ($(this).is(":checked")) { 
		// 		$(".today").show();
		// 	}else{
		// 		$(".today").hide();
		// 	}
		// });
		// 
		// $(".search_form").change(function(){
		// 	$(this).closest('form').submit();
		// });
		
		
	})
	
	
</script>