<style>
.out_div{
	width:700px; 
	height:1005px; 
	border:1px solid #000; 
	margin:0 auto; 
	padding:20px; 
	overflow:hidden; 
	background: url('/assets/dm_bg2.png') no-repeat scroll 0 0 #FFFFFF;
}
table tr td{
	padding:5px;
}

.table_out{
	margin: 231px auto 0;
	background-color:white;
	border-collapse: separate;
	border-spacing: 10px 0;
}
.table_in{
	width:200px;
}

.p_name, .p_price{
	background-color: #91C66B;
	padding:2px 5px;
	color:white;
}
.border_bottom{
	border-bottom: 1px solid #def0c8 !important;
}
.price{
	color: #FEB977;
}
.table_classify td, .table_classify th{
	border: 2px solid #dbebbc;
}
.table_classify th{
	height:25px; 
	background-color:#91C66B;
}
.table_classify th img{
	width:29px; margin-left:10px;
}
.table_classify th span{
	color:white; 
	font-size:16px; 
	line-height:24px;
}
.table_in td{
	border:0;
}

</style>

<div class="out_div">
	
	<table class="table_out">
			<tr class="table_classify">
					<th align="left">
						<img src="/classify/leaf.png" />
						<span>叶菜类</span>
					</th>
					<th align="left">
						<img src="/classify/rhizome.png" />
						<span>根茎类</span>
					</th>
					<th align="left">
						<img src="/classify/melon_and_fruit.png" />
						<span>瓜果类</span>
					</th>
			</tr>
			<tr class="table_classify">
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<span class="p_name">名称</span>
									</td>
									<td align="right">
										<span class="p_price">价格</span>
									</td>
							</tr>
							
							<% @products.where(classify: 'leaf').limit(17).each do |product| %>
							<tr class="border_bottom">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<span class="p_name">名称</span>
									</td>
									<td align="right">
										<span class="p_price">价格</span>
									</td>
							</tr>
							
							<% @products.where(classify: 'rhizome').limit(17).each do |product| %>
							<tr class="border_bottom">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<span class="p_name">名称</span>
									</td>
									<td align="right">
										<span class="p_price">价格</span>
									</td>
							</tr>
							
							<% @products.where(classify: 'melon_and_fruit').limit(18).each do |product| %>
							<tr class="border_bottom">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
					
			</tr>
	</table>
	
	<!-- 微菜安卓客户端下载：http:// -->
</div>





