<style>
.out_div{
	width:740px; 
	height:1045px; 
	border:1px solid #fff; 
	margin:0 auto; 
	padding:0px; 
	overflow:hidden; 
	background:  #FFFFFF;
}
table tr td{
	padding:5px;
}

.table_out{
	margin: 10px auto 0;
	background-color:white;
	border-collapse: separate;
	border-spacing: 10px 0;
}
.table_in{
	width:200px;
}

.p_name, .p_price{
	background-color: #91C66B;
	padding:2px 5px;
	color:white;
}
.border_bottom{
	border-bottom: 1px solid #def0c8;
}
.no_bottom_border{
	border-bottom: 0px solid #fff ;
}
.price{
	color: #FEB977;
}
.table_classify td, .table_classify th{
	border: 2px solid #90C677;
}
.table_classify th{
	padding:0;
	height:25px; 
}
.table_classify th span{
	color:white; 
	font-size:16px; 
	line-height:24px;
}
.table_in td{
	border:0;
}
.table_classify th img{
	width:210px;
}

</style>

<div class="out_div">
	<img src="/assets/dm_header.png" />
	<table class="table_out">
			<tr class="table_classify">
					<th align="left">
						<img src="/assets/leaf_bg.png" />
						<!-- <span>叶菜类</span> -->
					</th>
					<th align="left">
						<img src="/assets/gengjin_bg.png" />
						<!-- <img src="/classify/rhizome.png" />
						<span>根茎类</span> -->
					</th>
					<th align="left">
						<img src="/assets/guaguo_bg.png" />
						<!-- <img src="/classify/melon_and_fruit.png" />
						<span>瓜果类</span> -->
					</th>
			</tr>
			<tr class="table_classify">
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<img src="/assets/mingcheng.png" />
									</td>
									<td align="right">
										<img src="/assets/jiage.png" />
									</td>
							</tr>

							<% getSort(@products.where(classify: 'leaf').order("cost").limit(15)).each_with_index do |product, index| %>
							<tr class="border_bottom <%= 'no_bottom_border' if index == 14 %>">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<img src="/assets/mingcheng.png" />
									</td>
									<td align="right">
										<img src="/assets/jiage.png" />
									</td>
							</tr>
							
							<% getSort(@products.where(classify: 'rhizome').order("cost").limit(15)).each_with_index do |product, index| %>
							<tr class="border_bottom <%= 'no_bottom_border' if index == 14 %>">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
				
					<td valign="top">
						<table class="table_in" >
							<tr class="border_bottom">
									<td>
										<img src="/assets/mingcheng.png" />
									</td>
									<td align="right">
										<img src="/assets/jiage.png" />
									</td>
							</tr>
							
							<% getSort(@products.where(classify: 'melon_and_fruit').order("cost").limit(15)).each_with_index do |product, index| %>
							<tr class="border_bottom <%= 'no_bottom_border' if index == 14 %>">
									<td>
										<%= product.product_name %>
									</td>
									<td align="right">
										<div class="price"><%= product.sales_price %> 元/<%= product.unit %></div>
									</td>
							</tr>
							<% end %>
						</table>
					</td>
					
			</tr>
	</table>
	<img src="/assets/dm_footer.png" />
	
	<!-- 微菜安卓客户端下载：http:// -->
</div>





