<link rel="stylesheet" href="/assets/jquery-ui.css">
<script src="/assets/jquery-ui.js"></script>
  <style rel="stylesheet" type="text/css">
	body{
		padding-top:10px;
	}
	.navbar{
		display:none;
	}
  .connectedSortable {
		list-style-type: none;
		overflow:hidden;
		margin:0; 
		padding:0; 
/*		height:3000px; */
		margin-right: 10px; 
		min-width:130px; 
		outline:1px solid;
	}
  .connectedSortable li{
		margin: 0 0 1px 0; 
		padding: 5px; 
		font-size: 14px; 
		width: 120px;
		float:left;
	}
  </style>
		
		
		<div style="width:710px" class="container">
			<% Vegetable::CLASSIFY.each do |key, val| %>
				<% list = @products.where(classify: key).order(:no) %>
				<div style="margin:10px; float:left; height:520px;">
					<%= Vegetable.classify_index key %> <%= val %>
					<% p "#{list.size}  #{list.size/30}" %>
					<ul id="<%= Vegetable.classify_index params[:type] %>" class="connectedSortable" style="width:<%= 132*(((list.length-1)/13)+1) %>px">
						<% list.each_with_index do |product, index| %>
							<li class="ui-state-default" classify="<%= product.classify %>" product_id="<%= product.id %>"><%= product.no.to_s.rjust(2, '0') %> <%= product.product_name %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	
 

