<p id="notice"><%= notice %></p>

<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>

<p style="overflow:hidden;">
<%= link_to @product.next.product_name, @product.next, class: 'pull-right btn' if @product.next %>
<%= link_to @product.previous.product_name, @product.previous, class: 'btn' if @product.previous %>
</p>

<p id="prices"></p>


<script type="text/javascript" src="/assets/highcharts.js"></script>

<script type="text/javascript">
Highcharts.setOptions({
	lang: {
		months: ['一月', '二月', '三月', '四月', '五月', '六月',  '七月', '八月', '九月', '十月', '十一月', '十二月'],
		weekdays: ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
	}
});
$(function () {
        $('#prices').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: '<%= @product.product_name %>'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: '价格'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        //return '<b>'+ this.series.name +'</b><br/>'+
                        return Highcharts.dateFormat('%m月%d日', this.x) +': <b>'+ this.y +'</b> 元';
                }
            },
            
            series: [{
                name: '实际进价',
                data: [
								<% prices = @product.prices %>
								<% prices.each_with_index do |price, index| %>
									<% unless price == prices[-1] %>
										<%= "," if index != 0 %>[Date.UTC(<%= "#{price.date.year}, #{price.date.month-1}, #{price.date.day}" %>), <%= price.actual_cost %>]
									<% end %>
								<% end %>
                    
                ]
            }, {
                name: '预测进价',
                data: [
								<% prices.each_with_index do |price, index| %>
									<% unless price == prices[0] %>
										<%= "," if index > 1 %>[Date.UTC(<%= "#{price.date.year}, #{price.date.month-1}, #{price.date.day}" %>), <%=  (price.forecast_cost * 100).round / 100.0 %>]
									<% end %>
								<% end %>
                ]
            }]
        });
    });
</script>