<link rel="stylesheet" href="/assets/jquery-ui.css">
<link rel="stylesheet" href="/assets/products_print.css">
<script src="/assets/jquery-ui.js"></script>
  <script>
	
	
	$(function() {
			<% keys = Product::MARKET_AREA.keys %>
			keys = <%= sanitize Product::MARKET_AREA.keys.to_s %>
			
			$('<%= sanitize "#"+keys.join(",#") %>').sortable({
	        connectWith: '.connectedSortable',
	        placeholder: 'placeholder',
	        stop: function() {
						for (var i=0; i<keys.length; i++) {
							list = $('#'+keys[i]+' li');
							
							ids = new Array(list.length);
							$.each(list,function(j, n) {
								ids[j] = $(n).attr("product_id")
							});
							
							if(list.length > 0){
								$.ajax({
									type: "POST",
									url: "/products/update_market",
									data: { "market_area": keys[i], "ids": ids }
								})
							}
						}
	        }
	    }).disableSelection();
	});
  </script>
	<table>
		<tr id="print-title">
			<td colspan="6"><div>买菜用</div></td>
		</tr>
		<tr id="head">
			<% Product::MARKET_AREA.each do |key, val| %>
				<td>
					<div style="text-align:center;">
						<%= val %>
					</div>
				</td>
			<% end %>
		</tr>
		<tr>
			<% Product::MARKET_AREA.each do |key, val| %>
				<%  @height = @products.where(market_area: "xiaocai").size*25 %>
				<% list = @products.where(market_area: key).order(:pinyin) %>
				<td valign="top" style="height:<%= @height %>px;">
					<ul id="<%= key %>" class="connectedSortable">
						<% list.each do |product| %>
							<li class="ui-state-default" classify="<%= product.classify %>" product_id="<%= product.id %>">
								<%#= product.market_sort.to_s.rjust(2, '0') %>
								<span style="width:10px; display:inline-block;"><%= product.pinyin.at(0) %></span>
								
								<span class="product_id"><%= product.id %></span>
								
								<%= product.product_name %>
								<span style="color:red; float:right;">
									
									<!-- <% if product.order_total && product.order_total > 0 %>
										<%= "#{product.order_total>=1 ? product.order_total.to_i : product.order_total}#{product.unit}" %>
									<% end %> -->
										
									<%
										order_items = OrderItem.joins(:order).where("orders.state='shiping'").where(product_id: product)
										order_total = 0
										order_items.each do |order_item|
											order_total = order_total + order_item.order_amount
										end
									%>
									<% if order_total > 0  %>
										<%= "#{order_total>=1 ? order_total.to_i : order_total}#{product.unit}" %>
									<% end %>
								</span>
							</li>
						<% end %>
					</ul>
				</td>
			<% end %>
		</tr>
	</table>

 

	
 

