<div style="width: 1100px; padding-right:40px">
<div>
	<img src="/assets/logo_2.png" class="pull-left" style="width:80px; padding:10px 10px 10px 50px;">
	
	<% unless params[:show_price].present? %>
		<div class="pull-right">
				<img src="/assets/weixin_no.jpg" style="width:100px; padding:5px; text-align:center;" style="display:block;" class="pull-left">
				<div class="pull-right" style="height:100px;"><br /><br />扫描添加微信好友<br />填写数量后，拍照发微信给我。</div>
		</div>
	<% else %>
		<div class="pull-right">
				<div class="pull-right" style="height:100px; font-size:15px; padding-top:20px;">安卓手机客户端下载地址：<br />http://115.28.160.65/apk</div>
		</div>
	<% end %>
	
	<h3 style="text-align:center; line-height:100px;"><%= params[:show_price].present? ? '价格表' : '采购单' %></h3>
</div>
<link rel="stylesheet" href="/assets/jquery-ui.css">
<link rel="stylesheet" href="/assets/products_print.css">
<style>
.connectedSortable li{
	font-size:14px;
}

</style>
<script src="/assets/jquery-ui.js"></script>
  <script>
	
	
	$(function() {
			<% p keys = params[:type].constantize::CLASSIFY.keys %>
			keys = <%= sanitize params[:type].constantize::CLASSIFY.keys.to_s %>
			
			$('<%= sanitize "#"+keys.join(",#") %>').sortable({
	        connectWith: '.connectedSortable',
	        placeholder: 'placeholder',
	        stop: function() {
						for (var i=0; i<keys.length; i++) {
							list = $('#'+keys[i]+' li');
							
							ids = new Array(list.length);
							$.each(list,function(j, n) {
								ids[j] = $(n).attr("product_id")
							});
							
							if(list.length > 0){
								$.ajax({
									type: "POST",
									url: "/products/update_sn",
									data: { "classify": keys[i], "ids": ids }
								})
							}
						}
	        }
	    }).disableSelection();
	});
	
	
	
	
  </script>
	<table>
		<tr id="print-title">
			<!-- <td colspan="6"><div>称重打码用</div></td> -->
		</tr>
		<tr id="head">
			<% Vegetable::CLASSIFY.each do |key, val| %>
				<% if key == "leaf" %>
					<td>
						<div style="text-align:center;">
							<%= val %>
						</div>
					</td>
				<% end %>
				<td>
					<div style="text-align:center;">
						<%= val %>
					</div>
				</td>
			<% end %>
		</tr>
		
		<tr>
			<% total = 0 %>
			<% Vegetable::CLASSIFY.each do |key, val| %>
			<% p key %>
				<%  @height = 20*25 %>
				<% list = @products.where(classify: key).order(:pinyin) %>
				<% total = total + list.size %>
				<td valign="top" style="height:<%= @height %>px;">
					<ul id="<%= key %>" class="connectedSortable">
						<% list.each_with_index do |product, index| %>
							<li class="ui-state-default" classify="<%= product.classify %>" product_id="<%= product.id %>">
								<div class="pull-left">
									<!-- <span class="shengmu"><%= shengmu = product.pinyin[0] %></span> -->
									<!-- <span class="product_id"><%= product.id %></span> -->
									<%= product.product_name %>
								</div>

								<span class="pull-right">
									<% if params[:show_price].present? %>
										<%= product.sales_price(1, nil) %><span style="font-size:12px;"><%= "元/#{product.unit}" %></span>
									<% else %>
										<%= product.order_unit %>
									<% end %>
									
									
								</span>
								<!-- <% product.order_spid.each do |key, value| %>
								<% next if value==0 %>
									<div class="pull-left" style="font-size:12px; line-height:12px; padding: 0 2px;">
											<div><%= "#{key}#{product.unit}" %></div>
											<div style="color:red;"><%= value %>包</div>
									</div>
								<% end %> -->
							</li>
							<% if index == 19 %>
								</ul>
							</td>
							<td valign="top" style="height:<%= @height %>px;">
								<ul class="connectedSortable ui-sortable">
							<% end %>
						<% end %>
					</ul>
				</td>
			<% end %>
			
			<!-- <% list = @products.where(classify: 'nil') %>
			<td valign="top" style="height:<%= @height %>px;">
				<ul id="nil" class="connectedSortable">
					<% list.each do |product| %>
						<li class="ui-state-default" classify="<%= product.classify %>" product_id="<%= product.id %>">
							<%= product.product_name %>
						</li>
					<% end %>
				</ul>
			</td> -->
			
		</tr>
	</table>
	<div style="padding:0 5px;">
	<div class="pull-right" style="margin-top:10px;">
		共<%= total %>种蔬菜
	</div>

	<div class="pull-left">
		<h4>订购电话：158-1084-5422</h4>
	</div>
</div>

	
 


</div>