<link rel="stylesheet" href="/assets/jquery-ui.css">
<link rel="stylesheet" href="/assets/products_print.css">
<style>
body{
	font-size:15px;
	padding-top:20px;
	background-color: #aaa;
}
ul.sortable_print{
	float:left;
	width:185px;
}
ul.sortable_print li{
	list-style:none;
	padding:10px 10px 0 10px;
	line-height:26px;
	border:1px solid #aaa;
}
.product_id{
	display:inline-block;
	text-align:right;
	width:23px;
	padding-right:5px;
}

.print_outline{
	width:660px;
	border: 1px solid #fff;
	background-color:#fff;
}
</style>

<div class="print_outline">

<div style="padding:10px 50px;">
	<div style=" width:150px; position:absolute; left:500px;">日期：<span ><%#= Date.today %></span></div>
	<div style="text-align:center; font-size:20px;">
		<%= @user.name %><span style="font-size:14px;">（采购单）</span>
	</div>
</div>
<div style="overflow:hidden;">
		<ul class="sortable_print" style="">
			<% total = 0 %>
			<% Vegetable::CLASSIFY.each do |key, val| %>
				<% list = @predicts.joins(:product).where('products.classify = ?', key) %>
				<% next if list.empty? %>
				<li>
					<% total = total+1 %>
					<div style="text-align:center; color:red;"><%= val %></div>
					<% list.each_with_index do |predict, index| %>
							<% product = predict.product %>
							<div style="">
								<span class="product_id">
										<%= params[:admin] ? predict.order_times : product.id %>
								</span>
								
								<% if params[:admin] %>
									<%= link_to product.product_name, edit_product_path(product) %>
								<% else %>
									<%= product.product_name %>
								<% end %>
								
								<% 
								price = predict.product.sales_price(@user.level, @user)
								
								# 老订单
								order_item_1 = OrderItem.where(product_id: predict.product).joins(:order).where("orders.user_id = ?", @user).order("id desc").limit(2).last
								price_1 = order_item_1.price if order_item_1
								
								# 新订单
								order_item_2 = OrderItem.where(product_id: predict.product).joins(:order).where("orders.user_id = ?", @user).order("id desc").limit(2).first
								price_2 = order_item_2.price if order_item_2
								
								%>
								
								<% if price && price_1 && price_2 && params[:admin] %>
									<% pp = price - price_2 %>
								<span class="shengmu" style="color:<%= pp > 0 ? 'red' : 'green' %>;">
									<%#= predict.average_amount.to_i if params[:admin] %>
										<% if pp<-0.01 || pp>0.01 %>
											<%= pp > 0 ? '涨' : '降' %>
											<%= price_format pp  %>
												<%#= price_format price %>
												
												<span style="display:none;">
													order_item_1.order.id : <%= order_item_1.order.id %>
																										order_item_2.order.id : <%= order_item_2.order.id %>
																									</span>
										<% end %>
								</span>
									<% end %>
								<%= " #{predict.product.sales_price(@user.level, @user)}元"  if params[:price].present? %>
								<span class="pull-right"><%= product.order_unit %></span>
							</div>
							
							<% total = total+1 %>
							<% if total % 24 == 0 %>
											</li>
									</ul>
									<ul class="sortable_print" style="">
											<li>
							<% end %>
					<% end %>
				</li>
			<% end %>
				<% if params[:show_weixin].present? %>
				<li>
					<div style="">
						<img src="/assets/weixin_no.jpg" style="width:130px; padding:10px; text-align:center;">
						填写数量后，可拍照发送到微信账号15810845422，让客服为您下单。
					</div>
				</li>
				<% end %>
		</ul>
</div>
		
</div>