<a class="brand" href="/">caicai</a>

<ul class="nav">
  <li><%= link_to "订单", orders_path %></li>
	<% if current_user %>
    <li><%= link_to current_user.phone, current_user %></li>
		<li>
			<%= link_to '退出', sign_out_sessions_path, method: 'delete', rel: "nofollow", :"data-confirm" => "确定要退出吗？" %>
		</li>
	<% else %>
    <li><%= link_to "注册", sign_up_registrations_path  %></li>
    <li><%= link_to "登录", new_session_path  %></li>
	<% end %>
</ul>