<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">caicai</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "蔬菜", products_path(type: 'Vegetable')  %></li>
          <li><%= link_to "水果", products_path(type: 'Fruit')  %></li>
          <li><%= link_to "肉禽蛋", products_path(type: 'Meat')  %></li>
          <li><%= link_to "水产", products_path(type: 'Fish')  %></li>
          <li><%= link_to "粮油", products_path(type: 'Agri')  %></li>
        </ul>
				
        <ul class="nav">
          <li><%= link_to "用户", users_path %></li>
          <li><%= link_to "订单", users_path %></li>
        </ul>
				
        <ul class="nav pull-right">
					<% if current_user %>
	          <li><%= link_to current_user.phone, current_user %></li>
						<li>
							<%= link_to sign_out_sessions_path, method: 'delete', rel: "nofollow", :"data-confirm" => "确定要退出吗？", title: '退出' do %>
								<i class="icon-off"></i>
							<% end %>
						</li>
					<% else %>
	          <li><%= link_to "注册", sign_up_registrations_path  %></li>
	          <li><%= link_to "登录", new_session_path  %></li>
					<% end %>
        </ul>
      </div>
    </div>
  </div>
</div>